
/**
 * 由 Fantastic-mobile 提供技术支持
 * Powered by Fantastic-mobile
 * https://fantastic-mobile.hurui.me/
 */
    
header[data-v-ef732603]{position:fixed;top:0;left:calc(50% - min(50%,300px));z-index:1000;width:min(100%,600px);background-image:url(https://picsum.photos/375/60)}
