
/**
 * 由 Fantastic-mobile 提供技术支持
 * Powered by Fantastic-mobile
 * https://fantastic-mobile.hurui.me/
 */
    
.sparkline[data-v-b6480129]{position:relative}.sparkline[data-v-b6480129] .sparkline--cursor{stroke:var(--v6ce87f52)}.sparkline[data-v-b6480129] .sparkline--spot{fill:var(--v2117aeaa);stroke:var(--v2117aeaa)}.sparkline .tooltip[data-v-b6480129]{position:absolute;z-index:9999;padding:min(.533vw,3.2px) min(1.333vw,8px);font-size:min(3.2vw,19.2px);color:#fff;white-space:nowrap;background:#000000b3}
